<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style_aboutus.css">
</head>
<body>
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>Some text about who we are and what we do.</p>
      </div>
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="amaan.jpg" alt="Amaan" style="width:50%">
            <div class="container">
              <h2>Amaan</h2>
              <p class="title">CEO & Founder</p>
              <p>Amaan is the CEO and founder of the company. He's been working on the front end parts and cooperates with the team to give fruitfull result</p>
              <p>amaan@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="trishala.webp" alt="Trishala" style="width:50%">
            <div class="container">
              <h2>Trishala</h2>
              <p class="title">Art Director</p>
              <p>With her artistic skills and creative brain , major designing part was possible. She's continously working and developing the design to make the site better </p>
              <p>trishala@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="vivek.jfif" alt="Vivek" style="width:50%">
            <div class="container">
              <h2>Vivek</h2>
              <p class="title">CTO</p>
              <p>Vivek being the CTO works on the technical aspects in the website. He's managing the tech part by cooperating with the team.</p>
              <p>vivek@.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card">
              <img src="dhrumil.webp" alt="Dhrumil" style="width:50%">
              <div class="container">
                <h2>Dhrumil</h2>
                <p class="title">Co-founder and Product Head</p>
                <p>Dhrumil being the co-founder and thr product head of the company has been continously working on to make the site better. With his constant effort and dedication the company is reaching great heights </p>
                <p>Dhrumil@gmail.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>
      </div>
</body>
</html>