<head>

    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/style_landingpage.css">
  </head>
  
  <body>
    <header>
      <div class="logo"><a href="#">VASTRAKOSH</a></div>
      <div class="menu">
        <a href="#">
          <ion-icon name="close" class="close"></ion-icon>
        </a>
  
        <ul>
          <li><a href="#" class="under">HOME</a></li>
          <li><a href="#bottom" class="under">CONTACT US</a></li>
          <li><a href="#" class="under">ABOUT US</a></li>
        </ul>
      </div>
      <div class="search">
  
        <input type="text" placeholder="search products" id="input">
          <ion-icon class="s" name="search"></ion-icon>
       
      </div>
      <div class="heading">
        <ul>
          <li><a href="#" class="under">HOME</a></li>
          <li><a href="#bottom" class="under">CONTACT US</a></li>
          <li><a href="about.html" class="under">ABOUT US</a></li>
        </ul>
      </div>
      <div class="heading1">
        <ion-icon name="menu" class="ham"></ion-icon>
      </div>
    </header>
    <section>
      <div class="section">
        <div class="section1">
          <div class="img-slider">
            <img src="https://images.pexels.com/photos/6347888/pexels-photo-6347888.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="img">
            <img src="https://images.unsplash.com/photo-1585914924626-15adac1e6402?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="" class="img">
            <img src="https://images.pexels.com/photos/2292953/pexels-photo-2292953.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="" class="img">
            <img src="https://images.unsplash.com/photo-1608739871923-7da6d372f3c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" class="img">
            <img src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="" class="img">
          </div>
  
        </div>
        <div class="section2">
          <div class="container">
            <div class="items" onClick="location.href='men.html'">
              
              <div class="img img2"><img src="https://i.pinimg.com/564x/14/11/32/1411326d22ef3484b748ab16f07bfddf.jpg" alt="" style="
                width:200px;
                height:210px;"></div>
              <div class="name">MEN</div>
            </div>
            <div class="items" onClick="location.href='women.html'">
              <div class="img img3" ><img src="https://i.pinimg.com/564x/ce/4f/d7/ce4fd71e466685f30c0cebd52d8367d2.jpg" alt="" style="
                width:200px;
                height:210px;"></div>
              <div class="name">WOMEN</div>
       
            </div>
            <!--<div class="items">
              <div class="img img1"><img src="https://images.pexels.com/photos/4295985/pexels-photo-4295985.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
              <div class="name">HOODIES</div>
              <div class="price">$6.7</div>
              <div class="info">Lorem ipsum dolor sit.</div>
            </div>
            <div class="items">
              <div class="img img1"><img src="https://images.pexels.com/photos/6463348/pexels-photo-6463348.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
              <div class="name">JACKETS</div>
              <div class="price">$9.9</div>
              <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing.</div>
            </div>
            <div class="items">
              <div class="img img1"><img src="https://media.istockphoto.com/photos/hand-of-a-lady-selecting-yellow-colored-saree-in-a-shop-picture-id1301740530" alt=""></div>
              <div class="name">SAREES</div>
              <div class="price">$25.6</div>
              <div class="info">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
            </div>-->
          </div>
  
        </div>
      </div>
  
    </section>
    <footer id="bottom">
      <div class="footer0">
        <h1>VASTRAKOSH</h1>
      </div>
      <div class="footer1 ">
        Connect with us at<div class="social-media">
          <a href="https://www.facebook.com/profile.php?id=100087813904678" target="_blank">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
          <!--<a href="">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>-->
          <!--<a href="">
            <ion-icon name="logo-youtube"></ion-icon>
          </a>-->
          <a href="https://www.instagram.com/vastrakosh819/" target="_blank">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
          <a href="https://in.pinterest.com/vastakosh819/_created/" target="_blank">
            <!--<i class="fa fa-pinterest-p w3-hover-opacity"></i>-->
            <ion-icon name="logo-pinterest"></ion-icon>
          </a>
          <a href="https://twitter.com/KoshVastra" target="_blank">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </div>
      </div>
      <!--<div class="footer2">
        <div class="product">
          <div class="heading">Products</div>
          <div class="div">Sell your Products</div>
          <div class="div">Advertise</div>
          <div class="div">Pricing</div>
          <div class="div">Product Buisness</div>
  
        </div>
        <div class="services">
          <div class="heading">Services</div>
          <div class="div">Return</div>
          <div class="div">Cash Back</div>
          <div class="div">Affiliate Marketing</div>
          <div class="div">Others</div>
        </div>
        <div class="Company">
          <div class="heading">Company</div>
          <div class="div">Complaint</div>
          <div class="div">Careers</div>
          <div class="div">Affiliate Marketing</div>
          <div class="div">Support</div>
        </div>
        <div class="Get Help">
          <div class="heading">Get Help</div>
          <div class="div">Help Center</div>
          <div class="div">Privacy Policy</div>
          <div class="div">Terms</div>
          <div class="div">Login</div>
        </div>
      </div>-->
      <div class="footer3">Copyright © <h4>VASTRAKOSH</h4> 2021-2028</div>
    </footer>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <!--<script src="./ecommerce.js"></script>-->
  
  </body>
  
  </html>