<!DOCTYPE html>
<html>
<head>
<title>homepage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/men.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a onClick="location.href='index2.html'" class="w3-bar-item w3-button">HOME</a>
    <a onClick="location.href='about.html'" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ABOUT</a>
    <a href="community.html" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-users"></i> COMMUNITY</a>
    <!-- <a href="#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a> -->
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
      <i class="fa fa-search"></i>
    </a>
  </div>

  <!-- Navbar on small screens -->  
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="about.html" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
    <a href="/community.html" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-users"></i> COMMUNITY</a>
    <!-- <a href="#" class="w3-bar-item w3-button">SEARCH</a> -->
  </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container " id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <img src="img\logo.png" alt="Vastrakosh image" class="logo"><br><br>


    <!-- <span class="w3-center w3-padding-large w3-light-grey w3-xlarge w3-wide w3-animate-opacity w3-opacity-min" id="mainl">Vastrakosh</span> -->
  </div>
</div>
</div>

<!--CARDS SECTION-->
<div class="kk"><h1 >LATEST PRODUCTS</h1></div>

<div class="super"> 

<a> <!--href="/calc"-->
<div class="card" name="car">
    <img src="https://images.unsplash.com/photo-1521572163474-6864f9cf17ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="">
    <div class="con-text">
        <h2>
         Solid White T-shirt
        </h2>
        <p>
           MRP: RS.499
            <button>
                See more options
            </button>
        </p>
    </div>
</div>
</a>

<a> <!--href="/report"-->
<div class="card" name="car">
    
    <img src="https://images.unsplash.com/photo-1563389234808-52344934935c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
    <div class="con-text">
        <h2 >
            Blue Shirt
        </h2>
        <p id="i" >
            MRP: Rs.1799
            <button>
                See more
            </button>
        </p>
    </div>
</div>
</a>

<a><!--href="/community"-->
<div class="card" >
<img src="https://images.unsplash.com/photo-1529374255404-311a2a4f1fd9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="">
<div class="con-text">
    <h2 >
       Cream White T-shirt
    </h2>
    <p >
       MRP: Rs.599
        <button>
            See more
        </button>
    </p>
</div>
</div>
</a>

<!-- 
<a href="/updateProfile">
<div class="card3">
<ul class="ul">
</ul>
<img src="https://cdn4.vectorstock.com/i/1000x1000/36/08/update-female-profile-vector-12503608.jpg" alt="">
<div class="con-text">
    <h2 id="h1">
        Update Profile
    </h2>
    <p id="p1">
       Update your current credentials to improve the timeness of the app
        <button>
            See more
        </button>
    </p>
</div>
</div>
</a> -->

<a><!--href="/keepMeUpdated"-->
<div class="card" >

<img src=" https://cdna.lystit.com/photos/forever21/7497df68/forever-21-BLACKBLUE-Nasa-Graphic-Hoodie.jpeg" alt="">
<div class="con-text">
    <h2 >
       Nasa Hoodie 
    </h2>
    <p id>
      MRP: Rs.1999
        <button>
            See more
        </button>
    </p>
</div>
</div>
</a>
</div>

<div class="aml">
  <div class="kk"><h1 >TRENDING</h1></div>

<div class="super"> 

<a><!--href="/calc"-->
<div class="card" name="car">
    <img src="https://images.unsplash.com/photo-1657978752647-8a80682c214f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" alt="">
    <div class="con-text">
        <h2>
         Ochre Blazer
        </h2>
        <p>
           MRP: RS.499
            <button>
                See more options
            </button>
        </p>
    </div>
</div>
</a>

<a><!--href="/report"-->
<div class="card" name="car">
    
    <img src="https://images.unsplash.com/photo-1644615585800-7e40dd042c10?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=552&q=80" alt="">
    <div class="con-text">
        <h2 >
            Washington Wizards Jersey
        </h2>
        <p id="i" >
            MRP: Rs.1799
            <button>
                See more
            </button>
        </p>
    </div>
</div>
</a>

<a><!--href="/community"-->
<div class="card">
<img src="https://images.unsplash.com/photo-1666358086779-c9fadf0b52bc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
<div class="con-text">
    <h2 >
       Deep Ocean Blue T-shirt
    </h2>
    <p >
       MRP: Rs.599
        <button>
            See more
        </button>
    </p>
</div>
</div>
</a>

<!-- 
<a href="/updateProfile">
<div class="card3">
<ul class="ul">
</ul>
<img src="https://cdn4.vectorstock.com/i/1000x1000/36/08/update-female-profile-vector-12503608.jpg" alt="">
<div class="con-text">
    <h2 id="h1">
        Update Profile
    </h2>
    <p id="p1">
       Update your current credentials to improve the timeness of the app
        <button>
            See more
        </button>
    </p>
</div>
</div>
</a> -->

<a><!--href="/keepMeUpdated"-->
<div class="card">

<img src="https://images.unsplash.com/photo-1617127365659-c47fa864d8bc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
<div class="con-text">
    <h2 >
       Velvet Black SUit 
    </h2>
    <p id>
      MRP: Rs.1999
        <button>
            See more
        </button>
    </p>
</div>
</div>
</a>
</div>
</div>
<!--promotion-->
<div class="w3-row w3-center w3-dark-grey w3-padding-small">
  <!-- <div class="w3-quarter w3-section">
    <span class="w3-xlarge">14+</span><br>
    Partners
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">55+</span><br>
    Projects Done
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">89+</span><br>
    Happy Clients
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">150+</span><br>
    Meetings
  </div> -->
</div>



<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
    <h3 class="w3-center">ABOUT </h3>
    <p class="w3-center">Vastrakosh brings you the latest trends from around the world. Setting new fashion standard. India's Fashion Capital</p>
    <div class="w3-row">
      <div class="w3-col m6 w3-center w3-padding-large">

      </div>
    </div>
    </div>
  </div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 ">
    <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section" >
      <a href="https://www.facebook.com/profile.php?id=100087813904678" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
      <a href="https://www.instagram.com/vastrakosh819/" target="_blank"><i class="fa fa-instagram w3-hover-opacity"></i></a>
      <!--<i class="fa fa-snapchat w3-hover-opacity"></i>-->
      <a href="https://in.pinterest.com/vastakosh819/_created/" target="_blank"><i class="fa fa-pinterest-p w3-hover-opacity"></i></a>
      <a href="https://twitter.com/KoshVastra" target="_blank"><i class="fa fa-twitter w3-hover-opacity"></i></a>
      <!--<i class="fa fa-linkedin w3-hover-opacity"></i>-->
    </div>
  </footer>
 
<script>
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
